{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Log Out" %}{% endblock head_title %}

{% block content %}
<div class="text-center">
  <h2>Log Out</h2>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit">{% trans 'Confirm' %}</button>
</form>
<hr><br>
</div>

{% endblock content %}
