{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
{% load i18n %}

<div class="container">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h2>Join The Team</h2>
      </div>
        <hr><br>
        <p class="text-center fs-2 font2">We are looking for administrators. Recieve various admin perks by getting in touch!</p>
      <form method="post">
        <div class="justify-content-center">
          {{ join_form | crispy }}
          {% csrf_token %}
          <button class="btn" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}