{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags%}
{% if user.is_authenticated %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="text-center">
                <h2>Add Your Recipe</h2>
            </div>
              <hr><br>
            <div class="">
                <form method="POST">
                    {% csrf_token %}
                    {{ recipe_form|crispy }}
                    <button class="btn" type="submit" value="Save">Add Recipe</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}