{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container-fluid">
    <p class="">{{ recipe.title }}, a creation by {{ recipe.author }}</p>
</div>

<div class="d-block">
    <img src="{% static 'images/food.png' %}" class="img-fluid" alt="responsive-image">
</div>

<div>
    <p>{{ recipe.cooking_steps | safe}}</p>
</div>

<div>
{{ recipe_comment.comment }}

  {% for comment in comments %}

  {% if not comment.approved and comment.author == user %}
  {% elif not comment.approved %}
  {% endif %}

  <div>{{ comment.author }} has commented, "{{ comment.comment }}"</div>
  
  {% endfor %}
</div>

{% endblock content %}