{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="container-fluid">
    <p class="">{{ recipe.title }}, a creation by {{ recipe.author }}</p>
</div>

<div class="d-block">
    <img src="{% static 'images/food.png' %}" class="img-fluid" alt="responsive-image">
</div>

<div>
    <p>{{ recipe.cooking_steps | safe}}</p>
</div>

<div>
{{ recipe_comment.comment }}

  {% for comment in comments %}

  {% if not comment.approved and comment.author == user %}
  {% elif not comment.approved %}
  {% endif %}
<div>
{{ comment.author }} said: {{ comment.comment }}
</div>
  {% endfor %}
</div>

<div class="container-fluid g-0">
    <div class="card">
        {% if user.is_authenticated %}
        <h3>{{ user.username }}, Would you like to comment?</h3>
        <form id="commentForm" method="post">
        {{ comment_form | crispy }}
        {% csrf_token %}
        <button type="submit" class="btn">Send</button></form></form>
        {% else %}
        <p>To comment, you must be logged in.</p>
        {% endif %}
    </div>
</div>
{% endblock content %}