{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}


<div class="text-center">
    <div class="">
    <h3 class="">{{ recipe.title }}, a creation by {{ recipe.author }}</h3>
<div class="d-block">
    {% if "placeholder" in recipe.image.url %}
    <a href="{% url 'recipe_detail' recipe.slug %}"><img class="img-fluid" src="{% static 'images/food.png' %}"
      alt="placeholder image"></a>
    {% else %}
    <a href="{% url 'recipe_detail' recipe.slug %}"><img class="img-fluid" src=" {{ recipe.image.url }}"
      alt="{{ recipe.title }}"></a>
    {% endif %}

<br><br>
<div>
    <h3>ingredients:</h3><br>{{ recipe.ingredients | safe}}
</div>

<div>
    <h3>cooking steps:</h3><br>{{ recipe.cooking_steps | safe}}
</div>
{{ recipe_comment.comment }}

  {% for comment in comments %}

  {% if not comment.approved and comment.author == user %}
  {% elif not comment.approved %}
  {% endif %}
<div>
{{ comment.author }} said: {{ comment.comment }}
</div>
  {% endfor %}
</div>

<div class="container g-0">
    <div class="card">
        {% if user.is_authenticated %}
        <h3>{{ user.username }}, Would you like to comment?</h3>
        <form id="commentForm" method="post">
        {{ comment_form | crispy }}
        {% csrf_token %}
        <button type="submit" class="btn">Send</button></form>
        {% else %}
        <p>To comment, you must be logged in.</p>
        {% endif %}
    </div>
    <!-- EDIT AND DELETE BUTTONS -->
    {% if user.is_authenticated and user.id == recipe.author.id %}
    <span>
        <a href="{% url 'update_recipe' recipe.id %}"><button class="btn-sm btn-success ">Edit</button></a></span>
        <a href="{% url 'delete_recipe' recipe.id %}"><button class="btn-sm btn-success ">Delete</button></a></span>
        
        {% endif %}
        <!-- END OF BUTTONS -->
{% endblock content %}