@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    /* bottom = footer height */
    padding: 25px;
}

footer {
    background-color: orange;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}