@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.navbar2 {
    background-color: #f1f7f8;
    font-family: 'Michroma';
}

footer {
    background-color: inherit;
    margin-top: 4vh;
}

h2 {
    font-family: 'Michroma';
} 

a {
    text-decoration: none;
    color: #629460;
}

.listed {
    text-align: center;
    color: #629460;
}

li {
    margin-right: 2vw;
}

.background2 {
    background-color: #12242b;
}

.next-page {
    margin-left: 10vw;
    border: solid #12242b;
}

.prev-page {
    margin-right: 10vw;
    border: solid #12242b;
}

p,h1,h2,h4,h5 {
    color: #629460;
}

.recipe-title {
    color: #629460;
}

h3 {
    color: #f1f7f8;
}

hr {
  color: #629460;  
}

.fa-clock {
    color: #f1f7f8;
}

.fa-snowflake {
    color: #f1f7f8;
}

.fa-pizza-slice {
    color: #f1f7f8;
}

.form-label {
    color: #629460;
}